* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    color: #800b03;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
}

header {
    padding: 20px 35px;
    background-color: #383838;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #800b03;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    margin: 0 30px; 
    font-weight: lighter;
    font-size: 22px;
}

footer {
    color: #180d01;
    width: 100;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #180d01;
    font-size: 30px;
    margin: 0;
}

footer nav {
    float: right;
    margin: 7px;
}

footer nav ul li {
    display: inline;
    margin: 0 30px; 
    font-weight: lighter;
    font-size: 22px;
}

section {
    padding: 60px;
}

.cool {
    background-image: url("..//images/3dboxes.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
}

.cool h2 {
    font-size: 35px;
    color:#800b03;
    padding: 10px 100px;
    float: right;
}

.intro {
    text-align: center;
}

.intro p {
    line-height: 1.7;
    color: #800b03;
    width: 80%;
    font-size: 20px;
    Margin: 0 auto;
}

.intro img {
    width: 18%;
    float: right;
    margin: -29% 0;
}

.bio {
    padding: 2px;
    float: in-line;
    width: 50%;
}

.project-work {
    text-align: center;
    background-image: url("../images/3dboxes.jpg");
}

.project-work div {
    margin-bottom: 80px;
}

.project-work img {
    width: 35%;
    margin: 20px 0;
}

.project-work h2 {
    padding: 6px;
    float: left;
    width: 0%;
}

.project-work h3 {
    color:#800b03;
    font-size: 40px;
    margin-top: 10px;
}

.project-work p {
    color: #800b03;
    font-size: 25px;
}

.container {
    position:relative;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color:#800b03;
    padding-left: 20px;
    padding-right: 20px;
}